%Note: do not use the name of any 'readin' tag in any comment line or parts of that comment line will be read in and assigned to that variable 
%Do not leave any blank likes. Use % if you want a 'blank' line. matlab stops reading after the first blank line.
Subject_Code TST
Data_Location C:\Data\Debug\
%Note Write Raw size determines the number of loops at a time that are accumulated before writing a raw matlab variable 
WriteRaw 10
WriteRawPower 0
%
%FunctionCallsUsed==============================
Funk.MasterControl MasterControl;
Funk.InitializeVRWorld InitVRWorldBar;
Funk.SetObjectColor setObjectColorBar
Funk.UpdateTargetPosition updateTargetPositionBar
Funk.UpdateCursorPosition updateCursorPositionBar
Funk.InitializeCommandSource InitializeDSP_SpikesBC;
Funk.InitializeExperimentVariables InitializeVariablesSpikesBaseline;
Funk.ConvertSecToSamples ConvertSecToTDTSamples;
Funk.CursorFileColumnRecord CursorFileColumnRecord;
Funk.InitializeDAS   %InitializeDASAngles;
Funk.DefineWriteLine WriteLineSpikesBaseline;
Funk.InitializeMisc %InitializeMisc;
Funk.RunExperiment RunBaselineCollectSpikes; 
Funk.StartDSPRecord StartTDTRecord
Funk.RunBlock %;
Funk.GetData GetDataSpikesBaseline;
Funk.GetNewPosition %
Funk.UpdateHitStatus %;
Funk.WriteLoopData WriteLoopDataSpikes;
Funk.WriteRawData %Write_RawTDTEEG;
Funk.TerminateMisc  TerminateMiscTDT;
Funk.ConfigureTargets CenterOutTargets;
Funk.CloseOptotrak %;
%===============
COMM.decoder_ip 129.22.133.21
COMM.decoder_port1 1111
COMM.decoder_port2  2222
COMM.ParamFileName VRDAS_V1_0.dat
COMM.ParamFilePath C:\Taylor\Matlab\WorkingCKICodeNoDAS\
COMM.VariableFileName VRDAS_VAR_V1_0.dat
COMM.configDelay 180
COMM.receiveDelay 0.01

%VR Settings========================================
VR.Rotate 0
VR.modes [1]
VR.modeflag 1
VR.filename C:\DAS\6D_Decoder\Ext_Interfaces\VR\Cursors\1DBarWorld.wrl
VR.world_scale      1
VR.camera           0 0 1.35
VR.cam_fov          .70
VR.color.miss               0 1 1  
VR.color.hit                1 0.2 0.2
VR.movement.center [-0.0187]
VR.movement.range [.15]
VR.Vscale           1
%The following are just for target radius and cursor radius used for display. Note actual hit radius is now different
% these can now be in units of proportion of movement range if a P is included at the end
VR.MaxTargRadP      .25
VR.MinTargRadP       .25
VR.TargRadP          .25
VR.MaxCursRadP      .25
VR.MinCursRadP       .25
VR.CursRadP         .25
VR.TargRdStepSizeP        .01
VR.CursRdStepSizeP        .01
VR.movement.limit [.25]
VR.movement.earlylimitP [0.5]
%These adjust the accuracy requirements for each dimension which can now be different than the targ and cursor radii
% units are in % of movement range if followed with a P
%this represents the absolute distance from cursor center to target center in each dimension 
VR.hit.maxP [.5 ]
VR.hit.minP [.1]
VR.hit.distP [.5]
VR.AccuracyStepSizeP       .01

VR.dT                   .1
VR.BarRotNumAngles 0
VR.BarRotInc 0


%
%Adaptive parameters===============================

Parameters.NBlocksPerUpdate 1
Parameters.NumTriesPerTarg   3
Parameters.MaintainPercentHit .7
Parameters.MinBlocksBeforeBreak 4
Parameters.NumBlocksHeld 3

%Task timing settings (in Seconds)=========================
timing.loop_intervalS        0.050
% Time in seconds to complete movement
timing.max_movement_timeS        5
% delay between repositioning of cursor and appearance of target
timing.target_delayS         0.050
% delay between trials
timing.intertrial_intervalS  0.150
% delay between target appearance and optotrak control
timing.cursorcontrol_delayS   2 
% time cursor must remain in target to achieve a hit
timing.target_holdS          1
% how often moving average is recalculated
timing.mean_update_intervalS 1
%Window over which moving average is calculated
timing.mean_windowS 180

%TDT Settings=============================================
TDT.use_TDevAcc     1
TDT.num_chan        36
%% RCO file and filter cutoffs must be entered only if RPco.x is used instead of TDecAcc,
%% otherwise filter cutoffs are set in OpenController.This needs to be changed so they are set in the parameter file
TDT.filename_RCO C:\DAS\6D_Decoder\Ext_Interfaces\TDT\48ChannelSpikeSorting\RCOCircuits\36ChannelSpikeSorting.rco
TDT.HPcutoff    300
TDT.LPcutoff    4000

%
%
%SignalProcessing=============================================
%This low pass filter coefficient is what is used to smooth the cursor i.e. Dxcursor(t)=SigProc.Curso rLowPass*Dxalgorithm(t) +(1-SigProc.C ursorLowPass)*Dxcursor(t-1)
SigProc.CursorLowPass   0.8
%Sig Proc.ElectrodeList %C:\Taylor\Matlab Code\DMTsEEG_Coadaptive_Flex_5-10\ElectrodeList.txt
SigProc.SpReRefMat C:\das\NewGenericTaylorLabCodeSummer2007\ReRefMatrices\CrazySpReref.txt
%Si gProc.freq_bin 2 3 4 5 6 
%decoding parameters=====================================================
%
% size of analysis window in number of samples (256samples=419ms)
decode.analysis_window   256 
% length of FFT in number of samples (must be a factor of analysis window and a power of 2)
decode.fft_size   128 
decode.LogTransform 1

